.container {
    width: 500px;
    margin: 0 auto;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #000;
    color: #fff;
  }
  